Repository fire-square/autodonate, pull requests merged in 2022-05, with the labels that each got.

#116 Add screenshot action
  .github/scripts/screenshot.py
  .github/workflows/screenshot.yml
  poetry.lock
  pyproject.toml
Labels: github_actions

#119 Change Source Folder style to Django
  .gitignore
  CONTRIBUTING.md
  Makefile
  docs/conf.py
  docs/remove_trash.py
  manage.py
  poetry.lock
  pyproject.toml
  setup.cfg
Labels: bug, python

#120 Replace `django-svelte` with custom file
  autodonate/lib/templatetags/svelte.py
  autodonate/settings.py
  poetry.lock
  pyproject.toml
  templates/base.html
  templates/display_svelte.html
  templates/index.html
Labels: bug, enhancement, dependencies, python, svelte

#123 Update screenshot action
  .github/scripts/screenshot.py
  .github/scripts/upload.py
  .github/workflows/screenshot.yml
  .github/workflows/test.yml
  autodonate/settings.py
  poetry.lock
  pyproject.toml
Labels: enhancement, github_actions

#127 Add VS Code configs
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
  .gitignore
  .vscode/extensions.json
  .vscode/launch.json
  .vscode/settings.json
  CHANGELOG.md
  CONTRIBUTING.md
  poetry.lock
  pyproject.toml
Labels: documentation, enhancement, dependencies
